<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Stegnography</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/lock.ico">
</head>

<body>
    <nav>
        <h1><a href="/">Image stegnography</a></h1>
        <ul>

            <li>Welcome
            </li>
        </ul>
    </nav>