<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/logo.png" alt="">
        </div>
        <div class="headings">
            <h2>Image stegnography</h2>
            <!-- <h3>With custom encryption and decryption</h3> -->
            <a href="/encrypt" id="headerbtn" class="btn">Lets Hide a Photo!</a>
            <a href="/decrypt" id="headerbtn" class="btn">Lets DeHide a Photo!(Decrypt)</a>

        </div>
    </header>
    <div id="aboutus">
        <h2>Developed By</h2>
        <ul>
            <li>
                <h3>Kiruthick.K</h3>
                <br>
                <a href="https://github.com/KiruthickK">GitHub profile</a>
            </li>
        </ul>
    </div>
    <%- include('partials/footer'); -%>